{
    "openapi": "3.0.2",
    "info": {
        "title": "Camel Sightings",
        "version": "1.0.0",
        "description": "An API that allows you to view and report your own camel sightings.",
        "contact": {
            "name": "Camel Sightings API Team",
            "url": "https://console-openshift-console.apps.ryordan.rhmw-integrations.net"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "servers": [
        {
            "url": "https://console-openshift-console.apps.ryordan.rhmw-integrations.net/api"
        }
    ],
    "paths": {
        "/sightings": {
            "get": {
                "parameters": [
                    {
                        "style": "form",
                        "name": "tags",
                        "description": "tags to filter by",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "description": "maximum number of results to return",
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "unexpected error"
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Sighting"
                                    }
                                },
                                "examples": {
                                    "laurent_cats": {
                                        "value": [
                                            {
                                                "id": 1,
                                                "name": "London",
                                                "tag": "uk"
                                            },
                                            {
                                                "id": 2,
                                                "name": "Miami",
                                                "tag": "us"
                                            },
                                            {
                                                "id": 3,
                                                "name": "Paris",
                                                "tag": "france"
                                            },
                                            {
                                                "id": 4,
                                                "name": "Madrid",
                                                "tag": "spain"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "sighting response"
                    }
                },
                "operationId": "findSightings",
                "description": "Returns all sightings from the system that the user has access to\n"
            },
            "post": {
                "requestBody": {
                    "description": "Sighting to add",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewSighting"
                            },
                            "examples": {
                                "tigresse": {
                                    "value": {
                                        "name": "Manchester",
                                        "tag": "uk"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "unexpected error"
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Sighting"
                                },
                                "examples": {
                                    "london": {
                                        "value": {
                                            "id": 2,
                                            "location": "Chicago",
                                            "tag": "us"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "sighting response"
                    }
                },
                "operationId": "addSightings",
                "description": "Creates a new sighting."
            }
        },
        "/sightings/{id}": {
            "get": {
                "parameters": [
                    {
                        "examples": {
                            "london": {
                                "value": 1
                            }
                        },
                        "name": "id",
                        "description": "ID of sighting to fetch",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "unexpected error"
                    },
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Sighting"
                                },
                                "examples": {
                                    "london": {
                                        "value": {
                                            "id": 1,
                                            "location": "London",
                                            "tag": "uk"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "sighting response"
                    }
                },
                "operationId": "findSightingById",
                "description": "Returns a user based on a single ID, if the user does not have\naccess to the sighting"
            },
            "delete": {
                "parameters": [
                    {
                        "name": "id",
                        "description": "ID of sighting to delete",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "default": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "description": "unexpected error"
                    },
                    "204": {
                        "description": "sighting deleted"
                    }
                },
                "operationId": "deleteSighting",
                "description": "deletes a single sighting based on the ID supplied"
            },
            "parameters": [
                {
                    "name": "id",
                    "description": "Sighting identifier",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "Error": {
                "required": [
                    "code",
                    "message"
                ],
                "properties": {
                    "code": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "NewSighting": {
                "required": [
                    "location"
                ],
                "properties": {
                    "tag": {
                        "type": "string"
                    },
                    "location": {
                        "type": "string"
                    },
                    "comment": {
                        "description": "",
                        "type": "string"
                    }
                }
            },
            "Sighting": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/NewSighting"
                    },
                    {
                        "required": [
                            "id"
                        ],
                        "properties": {
                            "id": {
                                "format": "int64",
                                "type": "integer"
                            }
                        }
                    }
                ]
            }
        }
    }
}
